<!DOCTYPE html>
<html>

<head>
<style>


p{
    width:50%;

    margin-left:auto;
    margin-right:auto;
}
</style>
</head>

<body>

<div style="height:30px">
</div>

<p>
<big><b>Welcome to</b> <em>Menue Planner</em></big>, a way to store, and search for
recipes.  Searches may be performed using key words in the name of the recipes.  In addition, there
are two other search request that are particularly useful in planning menues:  search by ingredients,
and search by meal type.  Keywords and ingredients are search by entering text.  If there is more
than one keyword or more than one ingredient, the items are separated by commas or semi-colons.
Meal types are selected with check boxes.  All three types of requests (key words, ingredients, meal type) 
can be used in combination.
</p>

<p>
Let's look at an example.  Suppose you wish to plan a dinner and wish to use up some chicken and peas
that you bought a while ago, but you just can't think of how to use them together.  Enter 
<em>chicken</em>  and <em>peas</em> in the ingredients list, check the <em>dinner</em>
box, and search.  There's no need, in this case to enter a keyword.  A list of recipes along with the
required ingredients for each will pop up on the screen.  Click <em>view</em> on the recipe
that catches your attention, and there you have it.
</p>

<p>
On the other hand, maybe you need to thank someone with a gift of a very special
pie, and have the time to pick up any needed ingredients.  Simply enter <em>pie</em> as a 
keyword and search.  No need, this time, for ingredients or recipe type, although you could
check <em>dessert</em>.

<p>
Navigation buttons are at the bottom of most pages: home, search, add.  <em>Home</em> will return you
to this page.  <em>Search</em> will allow you to initiate a search as described above.  With the results of the search
you can click 'view' next to any recipe to view it.  At this point you can just view the recipe or click 
a button to either edit the recipe or delete it.  <em>Add</em> allows you to contribute your own recipes to the data base.
</p>



</body>