<div style="height:30px">
</div>
<%if @ids.length > 0 then%>
  <%@ids.each do |idx|%>
  <div style="background-color:lightblue">
  <%=@recipes.get(idx).name%><br>
  <%=@recipes.get(idx).ingredients%><a href="/view/<%=idx%>">[view]</a><br>
  </div>
  <div style="height:20px">
  </div>
  <%end%>
<%else%>
  <h1 style="text-align:center">No Matches Found</h1>
<%end%>