<!doctype html>
<html lang="en">
  <head>
     <meta charset="utf8">
     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aclonica" />
    <script>
         function giveColorValue() {
	     alert(document.colors.choose.value);
	}
    </script>
    <style> 
       body {
		 margin:0px 200px;
                 background-color:lightgray;		 
       }
       h1 {
             text-align:center;
	}
      INPUT#text1,#text2 {
         Height:30px;
	 Width:600px;
	 font-family:"Palatino Linotype", "Book Antiqua";
	 background-color:#CEEEFA;
	 font-size:20px;
	 color:slategray;
	 border:solid,5px;
      }
      div.checkbox {
          display:inline-block;
          width:160px;	  
      }
      div.radio {
           display:inline-block;
	   width:100px
      }
      input.cb {
          display:inline-block:
	  width:70px;
	  padding:0px 50px 0px 0px;
       }
       label {
           display:inline-block;
	   width:95px;
        }
    </style>
  </head>
  <body>  
<!--    <h1> <%= @heading %> </h1> -->
     <h1>Recipe Search</h1>
    <p>
    Search for a recipe by specifying at least one of the catagories below.  Multiple keywords and multiple ingredients should be
    separated by commas or semi-colons.
    

    <form action="/list" method="get">
	<p>
	 <label for="text1">Recipe Name Keywords:  </label>
         <INPUT TYPE="text" ID="text1" Name="keywords" Size=80 Placeholder="Enter keywords here">
         </p>
         <p>
	 <label for="text2">Ingredients:  </label>
         <INPUT TYPE="text" ID="text2" Name="ingredients" Size=80 Placeholder="Enter ingredients here"0%>
         </p>
         <p style="margin:60px 0px 0px 0px;">
         Check all that apply:<br>
	 <div style=margin:20px 0px 20px;>
            <div style="display:block">
	         <div class=radio>
		      <label for="r1">any/all</label>
	              <input type="radio" id="r1"name="meal[]" value="any" checked>
	              <input type="radio" name="meal[]" value="all">
		 </div>
	         <div class=checkbox>
	              <Input class="cb" type="checkbox" name="meal[]" id="c1" value="breakfast">
	              <label for="c1">Breakfast</label>
	         </div>
	         <div class=checkbox>	   
	              <Input class="cb" type="checkbox" name="meal[]" id="c2" value="lunch">
	              <label for="c2">Lunch</label>
	         </div>
	         <div class=checkbox>
	              <Input class="cb" type="checkbox" name="meal[]" id="c3" value="supper">
	              <label for="c3">Supper</label>
	         </div>
            </div>
	    
            <div style="display:block">
	         <div class=radio>
	              <input type="radio" name="dish[]" value="any" checked>
	              <input type="radio" name="dish[]" value="all">
		 </div>
	         <div class=checkbox>
	              <Input type="checkbox" name="dish[]" id="c4" value="entree">
	              <label for="c4">Entree</label>
	         </div>
	         <div class=checkbox>
	              <Input type="checkbox" name="dish[]" id="c5" value="side">
	              <label for="c5">Side</label>
	         </div>
	         <div class=checkbox>
	              <Input type="checkbox" name="dish[]" id="c6" value="dessert">
	              <label for="c6">Dessert</label>
                 </div>
		<div class=checkbox>
	            <Input type="checkbox" name="dish[]" id="c7" value="snack">
	            <label for="c7">Snack</label>
               </div>
	    </div>
	    
	    <div style="display:block">
	       <div style="margin-top:50px">
	            <Input type="checkbox" name="veg" id="c8" value="yes">
		    <label for="c8">Vegetarian</label>		    
               </div>
	    </div>
	</div>
	<div style=margin-top:60px>
	<INPUT TYPE="Submit" Value="Search Selection">
	</div>
</form>

<nav style="block; position:absolute; bottom:20px">

    <div style="display:inline-block; width:300px; margin-left:auto; margin-right:auto;">


          <form method="link" action="/">
               <input type="submit" value="Home" style="display:inline; float:left; width:100px; margin: 0px 25px; height:30px;">
          </form>

     

          <form method="link" action="/add">
               <input type="submit" value="Add" style="display:inline; float:left; width:100px; margin: 0px 25px; height:30px;">
          </form>
    </div>

</nav>

  </body>
</html>